*{
    padding: 0;
    margin: 0;
}

.HeaderContainer{
    background: url("../images/Header/bg.gif") center / 100% 100% no-repeat;
    width: 100%;
    height: 100vh;
    background-size: cover;
}


.topElement-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    top: 2rem;
    height: 10vh;
}

.topElement-container button{
    border: none;
    outline: none;
    background: none;
}

.topElement-container img {
    /* max-width: 30%; */
    width: 50%;
    /* Adjust as needed */
}

.topElement-container span{
    color: white;
    /* font-size: ; */
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    position: absolute;
    left: 8.5rem;
    font-size: 11px;
}

.reward-tile-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    position: absolute;
    top: 5rem;
    /* padding-inline: 2vw; */
}

.reward-tile-container img{
    width: 15%;
    /* position: relative; */
    top: 7rem;
    /* margin: 0 auto; */
}

.character-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    position: absolute;
    top: 8rem;
    height: 14vh;
    /* padding-inline: 4vw; */
}

.character-container img{
    width: 15%;
    /* margin: 0 auto; */
}

/* tile container */
.tile-container{
    display: flex;
    position: relative;
    height: 100vh;
    /* flex-direction: ; */
}

.first-tile{
    display: flex;
    position: absolute;
    bottom: 24vw;
}

.second-tile{
    display: flex;
    position: absolute;
    bottom: 43vw;
    display: flex;
    position: absolute;
    bottom: 43vw;
    width: 80%;
    margin: 0px 31px;
    justify-content: center;
    align-items: center;
}

button{
    background: none;
    border: none;
}